
<h1>Contact List</h1>
{{#each this}}
<li class="li">
  <h3>Email:</h1>{{email}}
  <h3>Name:</h1>{{name}}
  <h3>Phone Number:</h1> {{phoneNumber}}
  <h3>Twitter Username:</h1>{{twitterUsername}}
  <h3>Linkedin Username:</h1>{{linkedinUsername}}
</li>
{{/each}}
